html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    font-weight: bold;
}

h2 {
    color:antiquewhite;
    text-align: center;
}

.header,
.footer  {
    display: flex;
    justify-content: center;
    background-color: midnightblue;
    color: antiquewhite;
}

.main {
    height:100%;
    display: flex;
    flex-direction: column;
}

.selector {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(57, 125, 226);
}

.buttons {
    display: flex;
    padding: 0px 150px 0px 150px;
    justify-content: space-around;
    gap: 80px;
}

.button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: solid 2px skyblue;
    border-radius: 1em;
    font-size: 50px;
    color: bisque;
    text-align: center;
    aspect-ratio: 1/1;
    vertical-align: middle;
    transition: all .07s ease;
    background-color:  rgb(92, 144, 221);
    box-shadow: 0 0 1rem black;
}

.button:hover {
    background-color:  rgb(173, 192, 221);
    transform: scale(1.1);

}

.button:active {
    background-color:  rgb(15, 68, 141);
    transform: scale(0.9);
    box-shadow: 0 0 5rem black;
}

.points {
    flex: 1;
    display: flex;
    background-color: rgb(20, 20, 20);
    color: cornsilk;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.vs {
    flex: 1 1 auto;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.computer,
.player {
    flex: 1;
    font-size: 30px;
}

.player {
    text-align: left;
    padding-left:100px;
}

.computer {
    text-align: right;
    padding-right: 100px;
}

.footer {
    padding: 30px;
}

#restart {
    font-size: 20px;
    color:rgb(156, 202, 243);
    background-color: rgb(43, 91, 95);
    border: 2px solid;
    border-color: rgb(37, 131, 134);
    border-radius: 3px;
    padding: 10px;
    transition: all .07s ease;
}

#restart:enabled {
    color:aliceblue;
    background-color: cadetblue;
    box-shadow: 0 0 5rem black;
}

#restart:hover {
    transform: scale(1.1);
}

#restart:active {
    transform: scale(0.9);
}
